.flex {
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100px;
  width: 260px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.avatar
{
  position: relative;
}
.avatar > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.flex-column > h2 {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.online
{
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  right: 15%;
  border: 1px solid #ccc;
}
