.flex {
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100px;
  width: 50%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}
.avatar
{
  position: relative;
}
.avatar > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.online
{
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  right: 15%;
  border: 1px solid #ccc;
}
.identifiant
{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.identifiant > .span
{
    width: 80px;
    border:.1px solid black;
    background-color: black;
    margin: 0 auto;
}
